ALTER TABLE activity_checklist ADD assigned_to_volunteer_id varchar(9) NULL;
GO
ALTER TABLE activity_checklist ADD CONSTRAINT FK_activity_checklist_volunteer FOREIGN KEY (assigned_to_volunteer_id) REFERENCES volunteer(national_id);
GO